## Rider
.idea/
*.sln.iml

## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## VSCode/JetBrains Cache
.vscode/
*.DotSettings.user

## OS
.DS_Store
Thumbs.db

## Logs
*.log

## Build Results
*.exe
*.dll
*.pdb
*.cache
*.db
*.app
*.msi

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
project.lock.json
project.fragment.lock.json
artifacts/

## Runtime
*.pidb
*.mdb

## Others
_ReSharper*/
*.ncrunch*
*.vs/
